.title {
    background-color: black;
    padding: 50px;
    color: #00ff40;
    text-align: center;
    font-size: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: black;
  }

.MortyCard {
    width: 45%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #00ff40;
    border-radius: 50px;
    font-size: 20px;
    color: aliceblue;
    font-size: 20px;
    padding: 20px 10px;
    
}

.MortyCard>img {
    width: 300px;
}

.MortyCard>p {
    color: coral;
}

h2 {
    font-size: 30px;
    color: coral;
    margin: 10px;
}

@media (max-width: 700px) {
    .title {
        flex-wrap: wrap;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .MortyCard {
        flex-wrap: wrap;
        font-size: 15px;
        justify-content: center;

    }

    .MortyCard>img {
        flex-wrap: wrap;
        width: 50%;
    }
}